@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeon+Sung&display=swap");
@import "tailwindcss";
@theme {
  --color-blueclr: #2a68ff;
  --color-greyclr: #f1f4f8;
  --color-textclr: #6f6f6f;
  --color-cardshadow: #f7f8f9;
  --font-primary: "Poppins", "sans-serif";
}

body {
  background-color: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: " ";
  height: 4px;
  width: 100%;
  background-color: #2a68ff;
  color: #2a68ff;
  right: 0;
  bottom: -10px;
}

.icon {
  cursor: pointer;
}